<header class="flex-wrap-row-justify-space-between">
    <h1>{{ title | default: "krigjo25's 11ty blog"}}</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
</header>